@model WebApplication2.Models.PhotoData

@{
    ViewBag.Title = "PreviewBeforeDelete";
}

<h2>Preview Before Delete</h2>
@{ ViewBag.relativeRootPath = (ViewBag.RootPath).Replace(Request.ServerVariables["APPL_PHYSICAL_PATH"], "/");}
@if (ViewBag.RootPathValid)
{
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="@(ViewBag.relativeRootPath + "/" + Model.Year + "/" + Model.Month + "/" + Model.Name)" class="img-circle" alt="photo">
                    <div class="caption">
                        <div>
                            <h4>@Model.Name</h4>
                            <p>@(Model.Month + "/" + Model.Year)</p>
                            <br/>
                            <p>Are you sure you want to delete?</p>
                            <a class="btn btn-default" href="@Url.Action("Index", "Photo")">Cancel</a>
                            <a class="btn btn-primary" href="@Url.Action("DeletePhoto", "Photo", new { photoName = Model.Name, year = Model.Year, month = Model.Month })">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <br />
    <p>root path to gallery invalid, no connection to service</p>
}



